{% block ip_bibliotheque_single_widget %}
    {% set randid = random() %}
    {% spaceless %}
        {{ include('@IpBibliotheque/Bibliotheque/helper/assets_css.html.twig', {'prefix': form.vars.prefix}) }}
        {{ include("@IpBibliotheque/Bibliotheque/helper/assets_js.html.twig", {'prefix': form.vars.prefix}) }}
        <div class="row">
            <div class="col-md-12">
                <div id="biblioimgcontainer{{ randid }}">
                    {% if value is not empty %}
                        {{ ipBblImageView(value,['img-thumbnail', 'img-preview']) }}
                    {% endif %}
                </div>
                <div id="ip_bibliotheque_action{{ randid }}" class="ip_bibliotheque_action btn-group {% if value is not empty %}ip_bbl_btn-group{% endif %}">
                    {% if value is not empty %}
                        <button type="button" id="ip_bibliotheque_add_image{{ randid }}" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                            Modifier
                        </button>
                        <button type="button" id="ip_bibliotheque_rm_image{{ randid }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            Supprimer
                        </button>
                    {% else %}
                        <button type="button" id="ip_bibliotheque_add_image{{ randid }}" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Ajouter des images
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="popupBilbio{{ randid }}" class="popup">
            <div class="popup-content" style="height: 640px">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-danger close-popup">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div id="loaderbiblio" style="position: absolute;left: 50%;top: 45%;">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                </div>
                <div id="bibliotheque{{ randid }}"></div>
            </div>
        </div>
        <input type="hidden" id="{{ form.vars.id }}" {{ block('widget_attributes') }} value="{% if value is not empty %}{{ value }}{% endif %}"/>
    {% endspaceless %}
{% endblock ip_bibliotheque_single_widget %}